

main {
  width: 1000px; /* 既存の制限 */
  margin: 0 auto;
}

.navbar {
  width: 100%; /* ブラウザ幅いっぱいに広げる */
  left: 0; /* 左端に配置 */
}

#carouselExampleIndicators {
  height: 600px; /* 高さを600pxに設定 */
}

#carouselExampleIndicators .carousel-inner {
  height: 100%; /* 親の高さに合わせる */

}

#carouselExampleIndicators .carousel-item img {
  height: 100%; 
  width: auto;
  object-fit: contain; 
}

.pane .pane-row{
  margin-bottom: 0; /* 下の余白を削除 */
  height: 200px; /* 高さを自動調整 */;
}
.pane.active {
  background-color: #f0f0f0; /* アクティブなpaneの背景色 */
  border: 2px solid #2873AF; /* アクティブなpaneのボーダー */
  width: 100%;
}
.pane-subcontent {
  display: none; /* 初期状態で非表示 */
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-sizing: border-box; /* パディングとボーダーを含めたサイズ計算 */
  margin-top: -50px;
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease; /* 高さの変化にアニメーションを追加 */
}
.pane:hover .pane-subcontent {
  display: block; /* paneがホバリングされた時に表示 */
  height: auto;
}


