

main {
  width: 1000px; /* 既存の制限 */
  margin: 0 auto;
}

.navbar {
  width: 100%; /* ブラウザ幅いっぱいに広げる */
  left: 0; /* 左端に配置 */
}

#carouselExampleIndicators {
  height: 600px; /* 高さを600pxに設定 */
}

#carouselExampleIndicators .carousel-inner {
  height: 100%; /* 親の高さに合わせる */

}

#carouselExampleIndicators .carousel-item img {
  height: 100%; 
  width: auto;
  object-fit: contain; 
}

